/* $Id: help.css,v 1.6 2008/10/17 19:00:49 merlinofchaos Exp $ */

.advanced-help-topic code, .advanced-help-topic pre {
  border: 1px solid #444;
  background: #f1f1f1;
  margin: 1em;
  padding: .2em;
  display: block;
}

.advanced-help-topic h3,
.advanced-help-topic h4,
.advanced-help-topic h5,
.advanced-help-topic h6,
.advanced-help-topic dt {
  font-weight: bold;
}


.help-left {
  float: left;
}

.help-right {
  float: right;
}

.help-box {
  margin: .5em;
}

.help-navigation {
  border-top: 1px dotted #ccc;
}

.help-previous {
  float: left;
}

.help-next {
  float: right;
}
