/* $Id: help.css,v 1.4 2008/04/28 20:33:16 merlinofchaos Exp $ */

.advanced-help-topic code, .advanced-help-topic pre {
  border: 1px solid #444;
  background: #f1f1f1;
  margin: 1em;
  padding: .2em;
  display: block;
}

.help-left {
  float: left;
}

.help-right {
  float: right;
}

.help-box {
  margin: .2em;
}

.help-navigation {
  border-top: 1px dotted #ccc;
}

.help-previous {
  float: left;
}

.help-next {
  float: right;
}
